@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

.message {
  display: none;
  width: 100%;
  text-align: center;
}

@media (max-width: 900px) {
  .App {
    display: none;
  }
  .message {
    display: block;
  }
}

// @font-face {
//   font-family: "Sansation Regular";
//   src: url("SansationRegular.eot");
//   src: url("SansationRegular.eot?#iefix") format("embedded-opentype"),
//     url("SansationRegular.woff") format("woff"),
//     url("SansationRegular.ttf") format("truetype");
//   font-weight: normal;
//   font-style: normal;
// }
