* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

.message {
  display: none;
  width: 100%;
  text-align: center;
}

@media (max-width: 900px) {
  .App {
    display: none;
  }
  .message {
    display: block;
  }
}
